<div class="social-container">
    <a href="https://www.facebook.com/pg/DCLARK99.5/posts/">
        <img alt="facebook-logo" src="images/icons/facebook.png">
    </a>
    <a href="https://www.youtube.com/channel/UC--6m0xeXBG1Tn5r7afoNXQ/featured">
        <img alt="youtube-logo" src="images/icons/youtube.png">
    </a>
    <!-- click email icon to open contact form -->
    <div class="contact-form-popup" id="contactForm">
        <form action="mailto:jyoung@csgincofva.com"
        method="POST"
        enctype="multipart/form-data"
        name="EmailForm">
        </form>
    </div>
    
    <a href="">
        <img alt="send email" src="images/icons/mail.png">
    </a>
</div>