<div class="container-fluid" id="carousel-background">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="images\on-air-sign.jpg" alt="on air picture">
            </div>
        </div>
    </div>
</div>