<div class="carousel-content">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/on-air-sign.jpg" class="d-block w-100" alt="on air sign"> 
          <div class="carousel-caption">
            <p>Photo by <a href="https://unsplash.com/@nittygritty_photo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Fringer Cat</a> on 
            <a href="https://unsplash.com/s/photos/radio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
          </div>
      </div>

      <div class="carousel-item">
        <img src="images/singer.jpg" class="d-block w-100" alt="on air sign"> 
          <div class="carousel-caption">
            <p>Photo by <a href="https://unsplash.com/@arstyy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Austin Neill</a>
            on <a href="https://unsplash.com/s/photos/singer-with-mic?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
          </div>
      </div>

      <div class="carousel-item">
        <img src="images/concert.jpg" class="d-block w-100" alt="concert"> 
          <div class="carousel-caption">
            <p>Photo by <a href="https://unsplash.com/@vishnurnair?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vishnu R Nair</a>
            on <a href="https://unsplash.com/s/photos/concert?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
          </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="html-plugin">
			<style>.pip[data-tower-id="e5540311a71945e7a39dac7041e2f429-0-0-2"]{width:100%}</style>
			<div class="html-plugin__content">
				<center><script></script>
        <p><img class="listen-live" src="https://radio.securenetsystems.net/images/listen-live.png" width="200" height="116" border="0" style="cursor:pointer;""></p></center>
			</div>
		</div>

<!-- Newsletter Subscription Form -->
<div class="form-container" id="newletterForm">
  <form>
    <div class="form-header">
      <h1>Subscribe to our Newsletter</h1>
      <p>Sign up to get early access to upcoming events, store discounts, and more!</p>
    </div>

  </form>
</div>