<div class="container">
    <h1 style="text-align: center;">Store</h1>
    <div></div>
    <div class="container" style="height:600px;line-height:3em;overflow:scroll;padding:5px;">
  <div class="row">
    <div class="col">
        <img class="img-fluid" src="https://mediaprocessor.websimages.com//https://uploads.documents.cimpress.io/v1/uploads/40f3174d-0f73-4cdc-ae22-b617147c71ac~110/original?tenant=vbu-digital" alt="Basic Ad Package">
        <br>
        <span style="font-weight: bold;">Price:</span> $100
    </div>
    <div class="col">
        <img class="img-fluid" src="https://mediaprocessor.websimages.com//https://uploads.documents.cimpress.io/v1/uploads/6c7bb9cc-8b21-4b33-949c-3259e987d60b~110/original?tenant=vbu-digital" alt="VIP Ad Package">
        <br>    
        <span style="font-weight: bold;">Price:</span> $150
    </div>
    <div class="w-100"></div>
    <div class="col">
        <img class="img-fluid" src="https://mediaprocessor.websimages.com//https://uploads.documents.cimpress.io/v1/uploads/09d2b231-bda9-42c2-a886-64034204c610~110/original?tenant=vbu-digital" alt="Extended VIP Ad Package">
        <br>
        <span style="font-weight: bold;">Price:</span> $200
    </div>
    <div class="col">
        <img src="https://mediaprocessor.websimages.com//https://uploads.documents.cimpress.io/v1/uploads/00b76e12-6da6-44f5-88ba-1e6a401a4b6c~110/original?tenant=vbu-digital" alt="Executive Ad Package">
        <br>
        <span style="font-weight: bold;">Price:</span> $50/month for 6 months
    </div>
  </div>
</div>
    <div ">
 
    </div>
</div>