<div class="container-fluid">
    <div class="row">
    <div class="col" id="about">
      <h3>About DCNR1 99.5</h3>
      <p>Your Small Business Network Radio</p>
    </div>
  </div>
  <div class="row" id="packages">
    <div class="col">
      <h5>Basic Advertisement Package</h5>
      <h6>$100.00</h6>
      <ul class="list-group">
        <li class="list-group-item">One 30 second pre-recorded commercial/ad ran twice on each blog talk live show,for a total of 14 runs for 1 month.</li>
        <li class="list-group-item">30 second pre-recorded commercial/ad will also run once every hour on DCNR1 24hr. Network Radio Station</li>
        <li class="list-group-item">Total number of adds (776 adds for 1 month) $100.00/mo</li>
    </ul>
    </div>
    <div class="col">
      <h5>VIP Advertisement Package</h5>
      <h6>$150.00</h6>
      <ul class="list-group">
        <li class="list-group-item">One 30 second pre-recorded commercial/ad ran twice on each blog talk live show,for a total of 14 runs for 1 month.</li>
        <li class="list-group-item">30 second pre-recorded commercial/ad will also run twice every hour on DCNR1 24hr. Network Radio Station</li>
        <li class="list-group-item">Total number of ads (1,552 ads for 1 month) $200.00/mo</li>
    </ul>
    </div>
    <div class="col">
      <h5>VIP Advertisement Package</h5>
      <h6>$200.00</h6>
      <ul class="list-group">
        <li class="list-group-item">One 30 second pre-recorded commercial/ad ran twice on each blog talk live show,for a total of 14 runs for 1 month.</li>
        <li class="list-group-item">30 second pre-recorded commercial/ad will also run three times every hour on DCNR1 24hr. Network Radio Station</li>
        <li class="list-group-item">Total number of ads (2,328 adds for 1 month) $200.00/mo</li>
    </ul>
    </div>
    <div class="col">
      <h5>Executive VIP Advertisement Package</h5>
      <h6>$50.00 per month for 6 months</h6>
      <ul class="list-group">
        <li class="list-group-item">One 15 minute live interview with sponsor representative/spokesperson on blog talk live radio show ran six times within 1 month</li>
        <li class="list-group-item">One 30 second pre-recorded commercial/ad ran twice on each blog talk live show,for a total of 14 runs for 1 month.</li>
        <li class="list-group-item">30 second pre-recorded commercial/ad will also run four times every hour on DCNR1 24hr. Network Radio Station</li>
        <li class="list-group-item">Free advertisement /special event updates, with one week prior notice.</li>
        <li class="list-group-item">V.I.P backstage passes, and Business advertisement during Daniel Clark Network Radio Events.</li>
        <li class="list-group-item">Total number of ads (2,942 ads for 30 days) 6 month subscription at $50.00/mo  with a total savings of $200.</li>
    </ul>
    </div>
  </div>
</div>