.carousel-inner img { 
    height: 200px;
    width: auto; 
    height: auto; 
}
.carousel-content {
    max-width: 980px;
    margin: auto;
}

.social-icon {
    height:35px;
    width:auto;
}

#listenButton {
    position:absolute;
    right: 5px;
}

div > img {
   width: 300px;
   height: 300px;
   padding: 20px;
   margin: auto; 
} 

#about {
    text-align: center;
}

#contactForm {
    display: none;
}

